<article id="campo">
  <div>
	<h3 class="h3-campo">CAMPOS EN BUENOS AIRES</h3>
	<p>Que sensación más hermosa los fines de semana, los domingos, poder viajar cerquita y hacernos una escapada a estos maravillosos lugares. Escapar del caos de la ciudad, poder tener un 360° del cielo, de verdes; escuchar al mismo tiempo a la naturaleza, el viento, vacas, pájaros, caballos. Me parece algo tan maravilloso, creo que si tenes auto o la posibilidad de realizar una escapada hacia estos lugares tan cercanos de la capital de Buenos Aires, recomiendo al 100 pasar el día o la tarde. Tomar una merienda, unos mates con facturas o pastelitos mientras cae el atardecer, es una fantasía cumplida allí.</p>
	<h4>Mi top 3 de atardeceres y mates!</h4>
	<ul class="lista-campo">
		<li>Chascomús, Buenos Aires
		<img src="../images/chascomus-lago.jpg"></li>
		<li>San Antonio de Areco, Buenos Aires
		<img src="../images/areco.jpg"></li>
		<li>Tigre, Buenos Aires
		<img src="../images/tigre.jpg"></li>
	</ul>
  </div>
</article>


<article id="novedad-campo">
	<div class="row">
		
		<h3>Cinco mejores destinos de Turismo Rural por Argentina</h3>
		<h5>CINCO DESTINOS DE TURISMO RURAL!</h5>
		<br>
		<p>El Turismo Rural es una modalidad que tiene lugar en entornos no urbanos y que le permite al viajero conocer la vida del campo y aprender sobre las costumbres y tradiciones propias de la comunidad que se recorre. Abarca actividades muy diversas como aprender técnicas agrícolas y hacer práctica de pato, nuestro deporte nacional. También tomar excursiones, caminatas y safaris fotográficos. Todo ello tiene lugar en establecimientos alejados de la ciudad y usualmente atendidos por sus propios dueños.<br></p>
		<p>
			<b>Por ejemplo:</b><br>
			<b>-Fincas y Estancias:</b> Muchas de ellas cuentan con cascos históricos y brindan servicios de máximo nivel. Algunas poseen cientos de hectáreas con plantaciones de nogales, olivares o viñedos.<br>
			<b>-Casas campestres:</b> Enmarcadas por impresionantes paisajes de sierras, valles o montañas. Estas propiedades incluyen desayunos regionales y cartas de cocina local.<br>
			<b>-Hoteles temáticos:</b> Cuya propuesta abarca días de campo con cabalgatas, partidos de polo o asado al aire libre.<br>
			<b>-Cabañas:</b> De lago o de montaña, elegantes, lujosas o rústicas. En todas ellas se puede degustar una riquísima gastronomía y aprender acerca de las tradiciones del lugar.<br>
			<b>-Museos regionales:</b> Donde se rescata la historia y origen de los primeros habitantes de la comunidad a través de documentos históricos, antiguas fotografías o viejas herramientas.<br>
			También forman parte de esta cadena los hostales, bodegas, casas de artesanías y restaurantes que ofrecen los sabores típicos del lugar. La propuesta de cada uno de ellos es única, ya que su entorno determina que actividades se pueden realizar y qué productos se van a consumir.<br>
		 En Argentina es posible practicar este tipo de turismo en provincias como <b>San Juan</b>, <b>La Pampa</b>, <b>Santa Cruz</b> y <b>Chubut</b>, entre otros. También se desarrolla con fuerza en <b>la provincia de Buenos Aires</b>, que se caracteriza por la gran cantidad de pueblos rurales de su interior. Paisajes de ensueño, bosques de caldén, inmensas llanuras o altas montañas forman parte de la oferta de Turismo Rural en Argentina.
      </p>
      <p>
			<b>A continuación te vamos a contar los 5 destinos para vivir una bella experiencia en zonas rurales:</b>
		<br>
		<p>-La Rioja.</p>
			<br>
	  <p>-La Pampa.</p>
      <br>
    <p>-Córdoba.</p>
      <br>
    <p>-Buenos Aires (San Antonio de Areco, Chascomús, Lobos, Brandsen, Tandil).</p>
    </p>
		<ul>
			<div class="row">
			<li class="col-6"><img src="/images/cumbrecita-cordoba.jpg"><p>Cordoba, La Cumbrecita.</p></li>
			<li class="col-6"><img src="/images/reserva-provincial-los-colorados-la-rioja.jpg"><p>La Rioja, Los colorados.</p></li>
			</div>
		</ul>
		<ul>
			<div class="row">
			<li class="col"><img src="/images/campo-chascomus.jpg" alt="Chascomús, Buenos Aires."><p>Buenos Aires, Chascomús.</p></li>
			<li class="col"><img src="/images/la-pampa.jpg"><p>La Pampa, Reserva Provincial Parque Luro.</p></li>
			<li class="col"><img src="/images/tandil-lago.jpg"><p>Tandil, Dique del Fuerte.</p></li>
		</div>
		</ul>
	</div>
</article>