<div class="row row-cols-1 g-1">

<article id="desierto" class="d-flex flex-column">
	<div class="row" id="title-desierto">
		<h3>Te gustan los lugares desérticos?</h3>
    </div>	
	<div id="texto-desierto" class="row">
	<h4>En el oeste de Argentina, la Ruta de los Desiertos y Volcanes te lleva a recorrer paisajes de película</h4>
		<p class="col">Desiertos rojos, naranjas y blancos; campos volcánicos, ríos torrentosos por imponentes cañadones e impresionantes dunas son los grandes atractivos de esta región, que incluye parques nacionales y provinciales, yacimientos arqueológicos y paleontológicos y parte de la emblemática Ruta 40.
		<b>¿Cómo descubrirla?</b>
		La Ruta de los Desiertos y Volcanes abarca más de 1500 km entre Catamarca y Neuquén. Algunos de sus atractivos son conocidos, como Talampaya, Ischigualasto o el Cañón del Atuel, pero hay muchos otros lugares para que descubras. Podés elegir uno o conectar varios haciendo tu propio roadtrip.<br>
		Visitar <b>las dunas de Tatón, Saujil y Medanitos</b>, al norte de la localidad de Fiambalá, es como viajar al Sahara. Es uno de los paisajes más increíbles de Argentina, un lugar único para experimentar la magia del desierto y disfrutar actividades como sandboard,
		</p>
		<p class="col"> safaris fotográficos y expediciones en cuatriciclos o 4x4.<br> Con paredones de más de 100 metros de altura y formaciones rocosas espectaculares, <b>el Parque Nacional Talampaya</b> (Patrimonio Mundial) invita a viajar a la prehistoria entre paisajes que parecen de ciencia ficción. Sus senderos, aptos para todas las edades, se pueden recorrer en excursiones guiadas.<br><b>La Reserva Provincial Los Colorados</b>, con casi 20 mil ha, resguarda tesoros. Recorrer sus impresionantes paisajes desérticos de la mano de guías locales, y su gran valor arqueológico y paleontológico, es una experiencia que deslumbra.<br>Conocido como el <b>“Valle de la Luna”</b>, <b>el Parque Provincial Ischigualasto</b> (Patrimonio Mundial) es uno de los grandes imperdibles de la Argentina. Visitarlo a través de sus recorridos guiados permite espiar la evolución de la Tierra.</p>
    </div>

</div>

	<div id="border-container" class="row row-cols-1 g-1">

		<h4 class="col-12">LOS IMPERDIBLES!</h4>


    <div id="img-desierto">
        <div class="row">

        	<div class="col">
			<img src="../images/parque-provincial-ischigualasto-san-juan.jpg">
			<p class="lista-desierto">Parque Provincial Ischigualasto, San Juan.</p>
		    </div>
		    
            <div class="col">
			<img src="../images/cuesta-de-miranda-la-rioja.jpg">
			<p class="lista-desierto">Cuesta de Miranda, La Rioja.</p>
            </div>
        </div>

        <div class="row">

            <div class="col">
        	<img src="../images/reserva-provincial-los-colorados-la-rioja.jpg">
			<p class="lista-desierto">Reserva Provincial Los Colorados, La Rioja.</p>
            </div>

            <div class="col">
        	<img src="../images/dunas-de-taton-catamarca.jpg">
			<p class="lista-desierto">Dunas de Tatón, Catamarca.</p>				
            </div>

        </div>

        <div class="row">

            <div class="col">
        	<img src="../images/talampaya-la-rioja.jpg">
			<p class="lista-desierto">Talampaya, La Rioja.</p>				
            </div>

            <div class="col">
        	<img src="../images/reserva-natural-la-payunia-mendoza.jpg">
			<p class="lista-desierto">Reserva Natural La Payunia, Mendoza.</p>				
            </div>
        </div>
        </div>

		</div>
    </div>
	    
	    </div>
</article>

<div class="sabias-que-desierto">
	<p class="col-12" style="color: darkolivegreen; font-size: 2em; font-family: Lato;"><b>Sabías que?</b></p>
	<p class="col-12" style="font-size: 1.2em;">A 150 km de La Payunia, en la ciudad de Malargüe, se encuentra el observatorio Pierre Auger que busca y estudia rayos cósmicos. Esta información podría dar origen a una nueva rama de la ciencia: la astronomía de partículas cargadas. Se puede visitar con reserva previa, sin costo.<br>
	<br>
    A solo 25 km de Malargüe se puede llegar a los Castillos de Pincheira, unas formaciones geológicas declaradas Monumentos Naturales por su gran belleza escénica y su valor arqueológico. Es un lindo lugar para ir a caminar. A los pies de los castillos hay un restaurante, un camping y un área recreacional para pasar el día.<br>
    <br>
    A 35 km de la ciudad, se puede llegar al volcán Malacara, uno de los pocos volcanes que se pueden visitar por dentro ya que la erupción fue hidromagmática: la lava entró en contacto con agua, y la erosión y el desgaste que provocó junto con el viento, dio origen a pasadizos, socavones y chimeneas que alcanzan los 30 metros de altura. Las excursiones se contratan previamente en Malargüe.<br>
    <br>
    A 70 km también de Malargüe se puede visitar la Caverna de las Brujas para ver minerales con forma de estalactitas, estalagmitas, columnas y grandes cortinados; túneles por los que se tiene que pasar casi en 4 patas y corales petrificados en la roca. Se realizan caminatas con guía dentro de la caverna que se contratan previamente en la ciudad.
    </p>

 
    <img src="../images/volcan-malacara-mendoza.jpg"> 
    <p style="font-size: 1.3em; margin-bottom: 3em;">Volcan Malacara, Mendoza.</p>

</div>